.contenedor-principal {
    display: flex;
    width: 100%;

}

.contenedor-derecho {
    width: 15%;
}

.contenedor-izquierdo {
    width: 15%;

}

.contenedor-centro {
    width: 70%;
}

.centrar-textos {
    text-align: center;
}

.text-sizes-weight {
    font-size: large;
    font-weight: bolder;
}

.pokemon-serie {
    display: flex;
    justify-content: end;
    padding-right: 10px;
    padding-top: 5px;
}

.contenedor-imagen {
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 40px 40px;
    width: 100%;
    max-height: 300px;
    min-height: 200px;
    padding-bottom: 15px;
}

@media (max-width: 1279px) {
    .contenedor-derecho {
        width: 0%;
    }

    .contenedor-izquierdo {
        width: 0%;

    }

    .contenedor-centro {
        width: 100%;
    }
}