.body {
    height: 100%;
    margin: 0;
    padding: 0;

}

.ant-progress-inner {
    background-color: #565856 !important;
}

.ant-layout-header {
    padding-inline: 10px;
}

/* .ant-layout-header {
    line-height: 0;
}

.ant-collapse-item {


    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.ant-btn-primary {
    box-shadow: none;
} */

.ant-progress-bg {
    height: 15px !important;
}

@media (min-width: 768px) {
    .icon-back {
        font-size: 24px;
    }
}