.icon-back {
    font-size: 24px !important;
}

.typograph-text {
    font-size: 18px;

}

/* 
@media (max-width: 768px) {
    .icon-back {
        font-size: 24px;
        color: red;
    }
} */
.body {
    height: 100%;
    margin: 0;
    padding: 0;

}